[2020-12-15 11:36] regularlabs opened #1 "Customize colors used for dark mode"
Glad to see someone already had the idea to make this plugin :)

What would make it even more powerful is if you can override the color conversion.
So instead of relying on the automatic 'flipping' of the colors, be able to simply set your own colors for dark mode.

So essentially something like:
[code]

You would then even be able to 'misuse' it to make `bg-red-500` not even be actual red in dark

[2020-12-15 11:51] regularlabs commented on #1
This would also give the ability to make the default white be a more gray in dark mode.

[2020-12-15 12:34] regularlabs opened #2 "Add support for shadow colors"
Is it possible to add support for shadow colors?
Or is this already possible via the config?

[2020-12-15 12:48] jjranalli commented on #1
Glad you like Nightwind! Currently working on this feature, it should be added in the next update.

[2020-12-15 13:04] jjranalli commented on #2
This was not currently planned, as Tailwind uses black by default for all box shadows. If it works in your case, you could use the rings as an alternative (by setting them up in the config first).

However, I had a quick look at this matter and will consider adding it in the future. Could you share more details on how you normally set up your coloured shadows on Tailwind, and how you'd expect it t

[2020-12-15 13:32] regularlabs commented on #1
Awesome. If you need me to test things or want feedback, let me know.

[2020-12-15 13:35] regularlabs commented on #2
Well, this would indeed only concern the black shadows being converted to white, in my case.
I have now solved it by adding this to my scss:
[code]
So pretty much replaced `0, 0, 0` with '255, 255, 255'.

[2020-12-15 13:43] jjranalli commented on #2
Got it, seems reasonable. I'll keep the issue open meanwhile I look into adding this by default.

[2020-12-15 15:58] regularlabs commented on #2
PS: To be able to make overrides work, like `class="shadow-lg dark:shadow-sm"` I have had to do this:
[code]

[2020-12-22 01:15] jjranalli commented on #1
Closing this as I've added this feature in 1.0.4. Check out the "Color mapping" section in the readme to see how it works, but it's very similar to how @regularlabs imagined it. Feedback is welcome!

[2020-12-22 01:15] #1 closed

[2020-12-22 03:04] regularlabs commented on #1
Ok, great. Will test it out.

How come you chose to use the keyword `dark` for this, instead of `nightwind` for all the other stuff?

[2020-12-22 03:24] jjranalli commented on #1
I felt it made more sense in this particular case, but I had mixed feelings about it. I also think it can be confusing when I've used `nightwind` everywhere else.

I'm about to push a hotfix in 1.0.5 and a new mapping option (for mixed mapping, you'll find it in the readme). And I'll probably change `dark` to `nightwind` there. Thanks for pointing it out!

[2020-12-22 03:29] regularlabs commented on #1
I tried this:
[code]
Black and white are working ok.
But the gray shades output css like:
[code]

[2020-12-22 03:31] jjranalli commented on #1
This should be fixed in 1.0.5. Try updating (and switching `dark` to `nightwind)`

[2020-12-22 03:34] regularlabs commented on #1
Wow, lighting fast fix. And yes, all working now! 👍

[2020-12-22 03:38] regularlabs commented on #1
Just to be clear:
I (probably) want all colors to be flipped by default where 50-900 becomes 50-900.
Like:
[code]
So that means I will need to add the above for all my colors?

[2020-12-22 03:41] regularlabs commented on #1
I mean, could be an idea to add something like:
[code]

[2020-12-22 03:45] jjranalli opened #3 "Edit conversion in color weights"
Just to be clear:
I (probably) want all colors to be flipped by default where 50-900 becomes 50-900.
Like:
[code]
So that means I will need to add the above for all my colors?

_Originally posted by @regularlabs in https://github.com/jjranalli/nightwind/issues/1#issuecomment-749320139_

[2020-12-22 03:59] jjranalli commented on #3
@regularlabs I'll consider this, probably for 1.0.6. I want to check some things first, but it shouldn't take long.

Regarding your other comment, I don't think I'll add a default customisable option for this. Every color is different in tailwind and swaps differently, so if one wants to customise them it would probably be on a color basis, thus would be better to use mapping or overrides. However

[2020-12-22 04:48] regularlabs commented on #3
Yeah, the idea would be to be able to set the default mapping...
But using overrides works too. Just more code in the config file.

[2020-12-22 15:05] jjranalli commented on #3
Closing the issue as it has been implemented in 1.0.6

[2020-12-22 15:05] #3 closed

[2020-12-22 16:57] regularlabs commented on #3
Hmmm, thanks for the stuff you did on this and the changes you made.

But, and you're going to hate me for this, I found that with the colors, I do want to keep the 500 as the middle color. As that is the most saturated base color. So changing that to 400 in dark mode, makes it all washed out. This is fine with gray, but not with the other colors. I assume that that would be the same for most colo

[2020-12-22 18:51] jjranalli commented on #3
On the contrary, this is a rather interesting point and is exactly the kind of things I was considering before updating.

I've checked the tailwind palette, and while the 500 isn't always the most saturated color it may definitely be for some of them. Also, I personally don't notice the same problem of washed-out colors, and they seem to be consistent with the results I was expecting (higher weigh

[2020-12-22 19:07] regularlabs commented on #3
Yup, I agree with all you said.

[2021-01-03 14:05] ajonp opened #4 "Add support for Typescript"

[2021-01-16 22:46] jjranalli commented on #2
Closing this as adding support for shadow colors isn't a priority at the moment.

[2021-01-16 22:46] #2 closed

[2021-01-25 10:31] jbolda opened #5 "add a changelog"
👋

This has been a lovely experience to quickly get a dark mode set up and running! In debugging a flash of styles in the dark mode switch, I went looking to see what has been changed since my version was outdated. It would be very helpful if you had a changelog to read for these situations.

Thanks again for your work here!

[2021-01-25 11:53] jjranalli commented on #5
Glad to hear you're enjoying Nightwind!

And thanks for bringing this up, I've been thinking about adding a changelog for a while. Will do it later today!

[2021-01-25 17:29] jjranalli commented on #5
Closing this as I've added the [Changelog](https://github.com/jjranalli/nightwind/blob/main/CHANGELOG.md).

[2021-01-25 17:29] #5 closed

[2021-03-07 11:08] jjranalli commented on #4
Closing this as there is no plan to add typescript support at the moment.

[2021-03-07 11:08] #4 closed

[2021-03-18 14:10] HAUDRAUFHAUN opened #6 "[bug] Doesn't work with typography plugin and @tailwindcss/jit"
I tried to use nightwind with `@tailwindcss/jit` the `@tailwindcss/typography` plugin, but the colors of the heading elements of prosed content didn't got converted. This was only at elements with prose, other elements without the typography plugin were working. When I tried using normal `tailwindcss` instead of `jit`, then all worked fine.

[2021-03-18 14:23] jjranalli commented on #6
Thanks for pointing this out! I was able to reproduce the issue. Moreover, it doesn't seem to be restricted just to typography, but also to variant classes written using the short syntax, such as `hover:text-blue-600`.

I'll look into it, but chances are this behaviour results from an issue on jit. Nonetheless, any advice or additional feedback on the issue is appreciated

[2021-03-18 18:09] HAUDRAUFHAUN commented on #6
Thank you for the answer 🙂.

[2021-03-27 18:46] jjranalli commented on #6
I was able to fix the bug with typography in the new 1.1.7 release, so I'm closing the issue.

However, I'm still scratching my head about @apply variant classes such as `@apply hover:text-blue-600`. Will be opening a separate issue for that.

[2021-03-27 18:46] #6 closed

[2021-03-27 18:51] HAUDRAUFHAUN commented on #6
Ok thank you very much 🙏

[2021-03-27 19:07] jjranalli opened #7 "@apply variant classes don't work as expected"
When [tailwindcss-jit](https://github.com/tailwindlabs/tailwindcss-jit) is enabled, the nightwind-generated classes of @apply variant/screen color classes such as `@apply hover:text-blue-600` or `@apply sm:text-blue-600` aren't generated correctly.

@apply color classes such as `@apply text-blue-600` work as expected.

This seems to be caused by the way jit is generating @apply classes, but I stil

[2021-03-28 17:11] bep opened #8 "Duplicate classes warnings with the Tailwind VS Code Intellisense extension"
I notice that these transition classes are applied to both e.g. border and background, throwing off. Not sure how easy this is to fix. I "fixed" this by setting `transitionDuration: false`

[2021-03-28 17:31] bep opened #9 "Does not work with important selector configured"
I had a head-scratching moment getting this promising plugin to work. Then I commented out the `important` config option (see below), and it all started to work.

[code]

[code]

This is a great tool, btw, much appreciated. I started added dark classes to a site by hand, and got dizzy pretty fast.

[2021-03-28 22:16] jjranalli commented on #9
Thanks for opening this! I was able to reproduce it, I'll fix it in the next release (probably tomorrow).

Really glad you're enjoying Nightwind by the way! :)

[2021-03-28 23:04] jjranalli commented on #8
I'll look into this! Right now Nightwind is generating a separate rule for each transition class. Maybe grouping them under a single rule solves this issue, otherwise I'm not sure what else can be done about it.

[2021-03-29 02:02] jjranalli commented on #9
Closing this as the 1.1.8 release should fix the issue. I've also implemented a new 'importantNode' config option to enable the important ID selector on the same element that contains the 'nightwind' and the toggled 'dark' classes, instead of a parent element. You can find the details in in the [new related readme section](https://github.com/jjranalli/nightwind#important-selector)

Feel free to re

[2021-03-29 02:02] #9 closed

[2021-03-29 07:50] bep commented on #8
I have no great ideas to offer you, but I suspect that the feature itself is a little ... sub-perfect. The thing is, in my head, all but the simplest of Tailwind application will have lots of color classes, and having "thousands" (that is probably an exaggeration) of elements transition on a page is probably not great for performance, and I'm not sure it looks good, either. What you probably would

[2021-03-29 07:57] bep opened #10 "Allow fixedClass (or another option) work for the element and its descendants"
My observations tells me that `fixedClass` does not get applied to its descendants, so the `text-gray-800` will still be shifted when going to night mode:

[code]

That is useful on its own, but I suspect a common use case would be to have an entire block that you would want to ignore.

In my use case, I have a site

* With a blog and documentation section that looks great with Nightwind in dark m

[2021-03-29 13:26] jjranalli commented on #10
Totally agree about the need of a fixedClass that prevents dark-mode switching to its children elements.

I think both implementations are useful though, so I believe the best approach would be having two separate fixed classes - one targeting the same element, the other targeting children elements.

I admit I'm a bit tempted to give the new fixedClass `prevent-christmas` as default name.

[2021-03-29 13:58] jjranalli commented on #8
This looks like a really good idea. I stumbled myself on the issue in this [demo website I made](https://night-tailwindcss.vercel.app). Transitions can definitely have a noticeable impact on performance in pages with hundreds of color classes.

However, I believe in some cases applying transition to all color classes can be desired. For example, think of a button coloured borders, text and backgro

[2021-03-29 21:41] jjranalli commented on #10
Closing the issue as the feature has been added in 1.1.10. The default class name is `nightwind-prevent-block`, while details about the configuration options can be found in the [related section in the docs](https://github.com/jjranalli/nightwind#the-nightwind-prevent-class).

[2021-03-29 21:41] #10 closed

[2021-03-29 21:50] jjranalli commented on #8
Since Nightwind 1.1.10, transition classes are generated differently by default (only for `bg`, `text`, `border` color classes). A new `transitionClasses` configuration option has also been added – more details can be found in the [related section in the docs](https://github.com/jjranalli/nightwind#transition-classes).

Keeping the issue open while I see if something can be done about the lint war

[2021-04-21 23:42] vesper8 commented on #7
Yep having the same issue here.. using the new `mode: 'jit'` I got an error that `focus:tw-outline-none` is not a real class

And it's having other issues with my tailwind.css file which looks like this:

It's complaining that `Cannot read property 'base' of undefined`

Was not having any of these issues before enabling this plugin

[code]

[2021-04-21 23:51] vesper8 opened #11 "does not work when using prefix?"
I use the `tw-` prefix and I've noticed that when applying dark mode manually (not using your plugin here) it only works if I add the class `tw-dark` to the root element. Adding `dark` does not work. Since your toggle adds and removes `dark` and doesn't take into considering the prefix.. then I believe this wouldn't work for those of us that use a prefix

[2021-04-21 23:53] vesper8 opened #12 "unable to add typography plugin"
In my tailwind.config.js if I add

[code]

under the `theme` key, it blows up right away with this error

[code]

If I leave the `nightwind: {}` but comment out `typography: true` then no error..

[2021-04-22 11:25] jjranalli commented on #11
Thanks for pointing this out! Will implement a custom darkSelector in the next release to address the issue.

Please let me know if you find any other issue with Nightwind when using a prefix, as I'll be fixing those as well

[2021-04-22 11:29] jjranalli commented on #12
This is a weird one. If you're using a prefix maybe try removing it to see if the error goes away, as the issue may be related to it.

In the meantime, it would help if you could share your full tailwind.config.js or provide me a repo to reproduce the issue. Thanks!

[2021-04-22 11:48] jjranalli commented on #7
Unfortunately this may take a while to solve, it's one of the "". There seems to be a range of issues related to how jit is generating classes under the hood. There is also an [open issue on tailwindcss repo](https://github.com/tailwindlabs/tailwindcss/issues/3972) related to this.

If you're mostly using utility classes in the markup, aren't using variants inside `@apply` and haven't got a partic

[2021-04-22 16:59] vesper8 commented on #12
This is my full tailwind.config.js file

[code]

[2021-04-22 17:19] HAUDRAUFHAUN opened #13 "parameter for toggeling a specific theme"
Is there something like a parameter that can be passed to the toggle function like `nightwind.toggle(light)` for only enabeling a specific theme?

[2021-04-22 17:34] jjranalli commented on #13
Thanks for opening the issue! This is not currently possible, but it seems a reasonable functionality. Will probably add it in the next release :)

[2021-04-22 18:05] jjranalli commented on #12
Unfortunately I wasn't able to reproduce the issue, your tailwind config is not causing conflicts in my case and Nightwind is working as expected with Typography. I just had to comment `require('@tailwindcss/ui')` as I think it's not supported in Tailwind ^2.0.

Let me know if you manage to nail down the issue on your end, or feel free to provide me with a reproducible repo so I can debug it

[2021-04-26 18:55] #12 closed

[2021-04-28 12:36] jaulz opened #14 "Massive increase of file size while using JIT"
First of all, thanks for this great library! 😊  Though, what I noticed is that my CSS file grows by 400%. It's maybe worth noting that I use JIT mode. Is there any chance to keep the small size?

Before:
![image](https://user-images.githubusercontent.com/5358638/116404299-cb6fdd00-a82e-11eb-9b79-b61fa6ef0dbe.png)

After:
![image](https://user-images.githubusercontent.com/5358638/116404588-138eff80

[2021-04-28 13:59] jjranalli commented on #14
Thanks for opening the issue and for the kind words! :)

Indeed there are some issues related to JIT (see also #7 and the [open issue on tailwindcss repo](https://github.com/tailwindlabs/tailwindcss/issues/3972)), and I'm quite sure this issue is also related. If this is the case, it should get fixed once I'm able to release a JIT-compatible version of Nightwind (hopefully soon).

I'll be looking

[2021-04-28 14:12] jaulz commented on #14
Ah, I saw that issue but was not sure if that's related. I just did the comparison without JIT and it understandably grows as well but there it's not even half of it.

Without nightwind:
![image](https://user-images.githubusercontent.com/5358638/116417968-04627e80-a83c-11eb-8607-d92fffdc1504.png)

With nightwind:
![image](https://user-images.githubusercontent.com/5358638/116418260-425fa280-a83c-11

[2021-04-28 15:46] jjranalli commented on #14
Is this in production? It might be worth also checking out your purge settings in tailwind.config, as the css file size seems to be very large in both cases.

As a comparison, the largest css file I made using Nightwind is of this [demo website](https://night-tailwindcss.vercel.app/) I made and it's ~30kb.

Nonetheless, I think it's probable that the 400% increase in file size was being caused by

[2021-04-28 17:06] jaulz commented on #14
Sorry, that was the development build. In production it's like this:

Without nightwind:
![image](https://user-images.githubusercontent.com/5358638/116443742-4ac3d780-a854-11eb-90f6-96b0e654daa4.png)

With nightwind:
![image](https://user-images.githubusercontent.com/5358638/116443600-2667fb00-a854-11eb-8f4f-adc2d4d87491.png)

I have some non tailwind stuff there as well but here again it's more t

[2021-04-28 18:24] jjranalli commented on #14
Thank you for providing this. Would you mind also sharing your settings in tailwind.config.js? It would be great if you could also provide me with a repo to reproduce the specific issue.

[2021-05-09 17:04] jayakornk commented on #4
Hi @jjranalli , first thanks for an awesome plugin.

I just create a simple type declaration file just for my own project but I think sharing this with you could maybe help the others as well.

Would you mind add `helper.d.ts` beside `helper.js`?

[code]

Feel free to change the wording and content.

[2021-05-10 12:35] jjranalli commented on #4
Thanks @jayakornk, will add this in the next release!

[2021-05-15 21:19] uurcank opened #15 "memory leak in webpack"
I get FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory error when compiling this with webpack.

anyone else has the same problem?

[2021-05-16 14:49] jjranalli commented on #15
Hey there! This has never happened to me, and it can depend on a number of things. If you have jit enabled, also try disabling it.

Please provide further details, especially about your tailwind and build config, so I can investigate further. And possibly provide a repo to reproduce the issue. Thanks!

[2021-05-19 11:52] jjranalli commented on #15
@uurcank Is there any progress around this issue, or further details you can share? Otherwise I'll close this

[2021-05-19 12:10] jjranalli commented on #14
Confirming that the increase in CSS file size is indeed related to JIT, as Nightwind is adding a lot of unneeded (and wrong) rules to the css. This issue should be solved with the next release of Nightwind with full JIT support, which I hope to release soon since I finally managed to understand the underlying issue.

As to the increase in CSS file size when JIT is disabled, this depends on how man

[2021-05-19 12:18] jaulz commented on #14
@jjranalli oh, thanks for that extensive response and sorry that I missed your question before! 😊 I think I will just try your next release and let you know in case I experience further issues.

[2021-05-19 12:18] #14 closed

[2021-05-19 13:03] uurcank commented on #15
@jjranalli can you confirm whether you are compiling with webpack?

I will work on it today.

[2021-05-19 15:33] jjranalli commented on #15
Sorry I think I misunderstood the issue at first. I generally use Tailwindcss with the standard Nextjs installation, so I'm not directly compiling Nightwind with webpack.

I look forward to hearing what you discover about this. In the meantime feel free to share your webpack config (or a repo to reproduce the issue so I can look into this myself). Thanks!

[2021-05-20 13:02] uurcank commented on #15
I tried with a couple of different webpack configs and all lead to the same memory error. I am not exactly sure what is the root for this. There must be some sort of infinite loop happening somewhere.

How does this library work? Does it generate a stylesheet nested under dark class and inject that stylesheet? If not that would be a better approach and minimize the size of this.

[2021-05-20 13:51] jjranalli commented on #15
Nightwind classes aren't currently nested under a 'dark' class, each one is being injected separately using the addComponents function provided by Tailwindcss.

This behaviour will change in the next major release of the plugin which will introduce a bunch of improvements , including how css rules are generated.

Do you think that's the cause of the issue? If you can provide me a repo to reproduce

[2021-05-20 14:26] uurcank commented on #15
I think so. I am testing this in a rails application, which has many pages. The script mostly likely attempts to add too many components which exceed the memory limit.

That's why I am unable to share the repo at this time. If you are familiar with rails though, adding it via yarn & webpack, should cause the same issue on your end.

[2021-05-20 15:37] jjranalli commented on #15
Got it. Unfortunately without a reproduction repo it will probably take some time before I'm able to set this up, but I'll do what I can. If you ever manage to provide me with a reproduction repo (or at least your webpack config) that'd be ideal. Thanks!

[2021-05-22 23:00] uurcank commented on #15
I will try to create a test app as soon as I get the chance.

[2021-05-25 05:24] quick007 opened #16 "Question"
Hi, I'm asking this here because I can't seem to find a better place to:

1. I currently have a dark theme website, and I want to literally just invert the colors. If I install night-wind as is, will it just invert the color palette?
2. I noticed you just use `{() => nightwind.toggle()}` to toggle it, how can I force it to be on or off so I can throw it in a user settings page and not have to worr

[2021-05-25 13:20] jjranalli commented on #16
Hey there!

1. Nightwind automatically inverts the color palette whenever you use Tailwindcss color classes such as `bg-red-600`. To do that, you just need to add `[require("nightwind")]` in tailwind.config.js. Please note that it doesn't invert every color, just those based on your tailwind.config.js file.
2. Not at the moment, but you're free to build your own toggle depending on your needs. Che

[2021-05-28 16:04] thedivtagguy opened #17 "How do I toggle between modes?"
Hi! Thank you for the great plugin!
I'm trying to incorporate a toggle switch for my website, which is built with Hugo. The examples in the documentation are for React and Next.js so I'm having trouble understanding what I can do to have a simple toggle switch. This is what I have:

In the menu:
[code]

And this is followed by:

[code]
But this does nothing. Can someone help me understand how I ca

[2021-05-28 16:34] jjranalli commented on #17
Hey there! Thanks for opening the issue. Your code looks fine to me at a first glance. As long as the 'dark' class is getting added/removed correctly to your root element, Nightwind should work as expected.

And just so I better understand the issue, is Nightwind not working at all, or are you just having problems with the toggle? In other words, if you manually add the 'dark' class do you see the

[2021-05-28 16:35] #16 closed

[2021-05-28 18:08] thedivtagguy commented on #17
Thanks for the quick response! I tried adding the `dark` class manually and that works fine, the elements do get inverted. The code I've added gets included after the body tag on each page so I'm confused as to why this isn't working. This code is included in my `head.html` partial, so the script is being included on each page along with the toggle. My config is below:

[code]

[2021-05-28 18:20] thedivtagguy commented on #17
This seems to be working!
[code]

Thank you for your help and again, for a wonderful plugin.

[2021-05-28 22:42] jjranalli commented on #17
Glad you managed to work it out! 😁

[2021-05-28 22:42] #17 closed

[2021-06-06 16:17] quick007 opened #19 "Better toggling"
I made an issue a few days ago asking some questions, and I really think something like this would help with bigger, account-based applications:

[code]

[2021-06-08 14:31] Djiit opened #20 "How to use with CRA ?"
Hey folks,

Awesome work! I'm using it with NextJS and it's working like a charm. I'd like to use it on a new CRA project (followed this: https://tailwindcss.com/docs/guides/create-react-app) but it's not working (no dark mode, and the toggle function does nothing).

Did I miss anything ? Thanks

[2021-06-08 14:38] Djiit commented on #19
I think toggle is intended to be switching on and off, depending on the current state. Maybe we could add setDarkMode/setLightMode ? Added a PR with a proposed interface.

[2021-06-09 22:55] aorumbayev opened #22 "Examples for Vue.js"
Awesome work on the project!

Just wondering if you are planning to add any examples on using this with Vue based projects?

[2021-06-11 19:03] jjranalli commented on #22
Glad you like Nightwind! I'd love to add it but unfortunately I have limited knowledge of Vue.

If anyone wants to contribute with this or other examples, feel free to open a pull request!

[2021-06-11 19:50] jjranalli commented on #20
Hey there! Could you provide a repo to reproduce the issue so I can look into it? Thanks!

[2021-06-15 11:56] Djiit commented on #20
Hey! Yep, have a look at this one : https://github.com/Djiit/nightwind-cra

[2021-06-15 11:57] Djiit commented on #20
Last thing I tried was to copy the init function directly on the index.html . Not working :( Maybe I'm missing something obvious and/or I need a Theme manager or something... Tailwind is loaded (see the red text).

[2021-06-15 13:05] jjranalli commented on #20
Everything seems to be set up correctly, and Nightwind works fine on my end! Classes are added correctly, including the init you manually inserted in index.html.

However, it is quite hard to see it working as you chose `text-red-500` on the toggle which gets switched to `text-red-400` in dark mode, and is very hard to distinguish on a white background. The background on the other hand doesn't swi

[2021-06-15 13:52] Djiit commented on #20
Oh wow I must have been tired ahah. Alright, according to you is it the best way to add it ? (specificaly the way I copied/pasted the init code in index.html ?)

If yes, I'm happy to open a PR to document it in the README.

Thanks!

[2021-06-15 15:12] jjranalli commented on #20
No worries ahah I can relate! Anyway, the way I would initialise Nightwind would be adding the init() script in the head importing it from the package. The reason why it should be in the head is that it would prevent the white flash on reload while in dark mode.

Personally, In React I'd use something like React Helmet and add it in index.tsx using `dangerouslySetInnerHTML`. Similarly as it's docu

[2021-06-15 16:12] Djiit commented on #20
Proposed a tiny change. Yup, the "default" example is ok but uses `Head` (probably from Next.js ?) and I was confused at first 😅

[2021-06-15 16:18] Djiit commented on #19
@quick007 is it better now that we merged the PR ?

[2021-06-15 16:39] jjranalli commented on #19
@Djiit The PR was merged into a separate branch. It will get merged with the main branch on the next major v1.2.0 release! Hopefully soon :)

[2021-06-15 16:45] jjranalli commented on #20
Yes you're indeed correct. I'll also have to edit the Next example due to the new (very nice) Script component in Next 11, so it's good to have a separate example for React. Thanks for the PR, will review it asap!

[2021-06-15 16:46] Djiit commented on #20
Oh yeah, was watching the show too ahah

[2021-06-16 11:14] #20 closed

[2021-06-18 20:27] quick007 commented on #19
I'm going to go ahead and close this because of #21

[2021-06-24 21:51] jjranalli commented on #19
Closing as the issue has been fixed in 1.1.12

[2021-06-24 21:51] #19 closed

[2021-06-24 21:51] jjranalli commented on #13
Closing as the issue has been fixed in 1.1.12

[2021-06-24 21:51] #13 closed

[2021-06-26 15:51] HAUDRAUFHAUN commented on #13
Ok, thanks man :)

[2021-07-06 10:48] epleaner opened #25 "Support for custom colors with state variants (e.g hover)"
Expected:

Mirroring tailwindcss/typography's state variant customization (shown [here](https://github.com/tailwindlabs/tailwindcss-typography#customization)), I expect this custom hover color to be applied to anchors when in dark mode.

[code]

[2021-07-06 13:48] jjranalli commented on #25
Thanks for pointing this out. Will fix it in one of the future updates!

[2021-07-08 02:19] kotx commented on #4
Hey, any update on this? This doesn't seem to have been added.

[2021-07-08 02:44] kotx opened #26 "Page background does not transition"
Hi, I'm using Next.js with the same configuration in the [Next.js example in the README](https://github.com/jjranalli/nightwind/blob/main/README.md), and the background of the page does not seem to transition. I couldn't get it to transition using Tailwind without Nightwind, either, but I see https://nightwindcss.com/ has a transition. Is that a custom thing?

[2021-07-08 07:54] jjranalli commented on #4
@kotx Will release a new version later today with an updated declaration file

[2021-07-08 08:06] jjranalli commented on #26
nightwindcss.com has no custom setup, as nightwind should be able to handle it.

I would need some more details to understand the issue. Is it just the background transition not working? Is the actual inversion of colors working as expected? Feel free to also share some code snippets or images

Also please note that transitions won't work with gradients, and that you shouldn't apply color classes

[2021-07-08 08:32] kotx commented on #26
@jjranalli All other things transition perfectly, it's just the page background color that changes instantly. I haven't added any styles related to the background either. It might be worth noting that the page background for the demo site at https://night-tailwindcss.vercel.app/ also changes instantly as well. I'll try to upload a repo that can repro this sometime tomorrow.

[2021-07-08 18:34] kotx commented on #26
Hey @jjranalli, I've uploaded a repo to reproduce this issue at https://github.com/kotx/tsuki. The files of interest are probably just https://github.com/kotx/tsuki/blob/master/src/pages/_app.tsx, https://github.com/kotx/tsuki/blob/master/tailwind.config.js, https://github.com/kotx/tsuki/blob/master/postcss.config.js, and https://github.com/kotx/tsuki/blob/master/src/styles/global.scss.

[2021-07-08 18:40] jjranalli commented on #26
Thanks for providing the repo. Had a quick look, you're probably just missing `@apply bg-white` in the body styling in `styles/global.css` (like the comment, but you don't need to add `dark:bg-black`)

If you don't specify a starting color, nightwind has nothing to switch from/to

Let me know if that solves your issue, otherwise I'll give it a proper look tomorrow!

[2021-07-08 18:46] kotx commented on #26
@jjranalli That works, thanks so much for the help. I don't know why I commented that line out haha.
Would this be worth adding in the README?

[2021-07-09 09:29] epleaner opened #27 "Nested custom colors not automatically switching to dark mode"
## Expected

Using these custom colors:
[code]

When something like this is rendered in dark mode:
[code]

It renders with bg-nested-primary-900, as it would if it were:
[code]

## Actual
In dark more,
[code]
does not change colors to its dark variant.

[2021-07-09 15:02] jjranalli commented on #26
Glad that solved it! I don't think this should be added in the readme as it is an expected behaviour. However, since this has happened already in the past, I added a label in the issue so that it can be more easily found.

In the meantime I'll go ahead and close this

[2021-07-09 15:02] #26 closed

[2021-07-09 15:03] jjranalli commented on #27
Thanks for pointing this out and proposing a workaround. Planning to fix this in a future version of the library

[2021-08-05 10:45] joshcomley commented on #4
Hi there - the definition file doesn't appear to be in the latest release, is it perhaps ignored on publish somehow?

[2021-08-11 01:49] xxSkyy commented on #22
Hey, thanks for amazing time saver, I'm testing app right now on vue3+ts and so far works well!
It's quite same way as on react

Example with almost any variant of Vue syntax despite Vue2+Typescript because I almost didn't use it:
(Composition API are new way of writing components in vue introduced in Vue3 but also it's possible to include it in vue2, Option api are "legacy" method)
[code]

[2021-08-25 12:50] saitonakamura opened #31 "No way to clear selected mode to let device preference take control"
Bit of a context: I'm a heavy user of device preferences that changes by time of the day, and with the current helper once you've set a localStorage item, you're pretty much locked in and device preferences cannot affect it

I see that there's a code under `// Old` comment that do this stuff but it looks like is not playing well enough with the new one

I suggest some method like `clearPreference`

[2021-08-27 23:17] quick007 opened #32 "Don't remove custom transitions"
I spent quite a bit trying to make a clean custom light/dark mode button, and the injected night wind transition ruins it. Can we have another css class (like `nightwind-transition-prevent`) or something?

[2021-08-28 10:34] jjranalli commented on #32
Hi – Can you clarify what you mean with "ruins it"? Would disabling all transitions suit your needs, or do you want to disable them only on the button?

Anyway it seems a reasonable addition, will consider adding it in the next release!

[2021-08-28 10:56] jjranalli commented on #31
Hi – The idea behind the current implementation is that no preference is saved in localStorage until the user presses the button. However I agree with what you said, there are cases where `prefers-color-scheme` is preferred.

A `clearPreference` method seems like a reasonable solution which I'll consider for the next release (feel free to make a PR), but any suggestion on how to improve Nightwind'

[2021-08-28 11:19] jjranalli commented on #22
Thanks @xxSkyy! Would you like to open a PR to add your example to the readme in the `examples` section?

[2021-08-29 15:35] saitonakamura commented on #31
Thanks for the answer! As for the PR I'm still experimenting with the api and trying to figure out how to best cover the api surface.

[2021-08-29 19:34] quick007 commented on #32
The animation just doesn't play, and the "duration" tag on the animation also makes it take longer on just that component (because its fireing at the same time its switching the mode)

Only on the thing with the class `nightwind-transition-prevent` on it. I believe disabling all transitions is already possible(?)

[2021-09-04 11:22] vesper8 commented on #11
Hi @jjranalli,

I see you tagged a new release but I didn't see anything about a custom darkSelector in there.

I'm still unable to use nightwind when using a prefix (such as 'tw-')

But it does work if I don't use a prefix.

Any chance you can release this custom darkSelector? I believe what you mean by that is that you'll allow us to set the custom selector? Or ideally you would just be able to

[2021-09-04 11:25] vesper8 commented on #32
Would you mind sharing your clean dark mode toggle button @quick007 : )

[2021-09-04 14:46] vesper8 commented on #11
I tried to solve it myself. I imported your package as a local module and made the following modifications:

Essentially I added ` const tailwindPrefix = 'tw-';` and then sprinkled it where I thought it should be included. Using `console.log`it does appear to me that it generates all the classes that need to be overwritten correctly. And yet it doesn't work at all, when I apply the dark class my p

[2021-09-11 10:23] xxSkyy commented on #22
Done

[2021-09-13 16:24] asimpletune opened #35 "How to use this with vanilla js"
Hi, congrats on the plugin and the demo website. They're super beautiful.

I was interested in using nightwind, but it's for a small site that's just a few pages. I don't plan on using react or anything like that. I'm also a backend developer, so my experience with the latest front end frameworks is 0.

How do I use nightwind with just normal js?

[2021-09-13 16:45] quick007 commented on #32
I'm hesitant to call it clean (especially with it being partially broken...) but here ya go: https://github.com/wave-studio/JSBoard/blob/master/components/misc/mode-switcher.tsx

@vesper8

[2021-09-15 09:45] wottpal commented on #4
Same issue!

[2021-09-15 10:51] wottpal commented on #15
Same issue with a default Next.js installation

[2021-09-18 13:45] laurensiusadi commented on #22
That doesn't work that well in Vue 2.
This is what I found working:
[code]

[2021-09-18 19:53] borispoehland commented on #32
I have the same problem. The "nightwind-prevent" class doesn't stop the transition from happening, overriding my tailwind transition I set on the class

![Bildschirmfoto von 2021-09-18 21-51-46](https://user-images.githubusercontent.com/60541010/133906959-8134032c-931d-4e51-acbb-19262dd8e098.png)

Here's an example. The transition happens despite nightwind-prevent.

[2021-09-30 19:55] luccasmaso commented on #7
Same here

[2021-09-30 20:00] ShaggyDude opened #37 "Does this work with darkMode: 'media'?"
Does this work with darkMode: 'media'?
Thanks!

[2021-10-02 18:52] xxSkyy opened #38 "Nightwind plugin destroys color preview box in vscode"
I see there are rules that breaks it feature but are there way to see original color preview?

![image](https://user-images.githubusercontent.com/16470866/135728471-2138b496-d99a-44f9-a144-4ca9c4fe0027.png)

![image](https://user-images.githubusercontent.com/16470866/135728497-5a09aaa4-d4b7-4e53-ad17-d4e240175451.png)

[2021-10-11 13:18] MobtakerFanavariPayvar opened #39 "individual color mapping not working"
I cannot work with individual  colors nor custom colors which I have already defined in extend section of my configuration, for example:

[code]

does not convert #1E208D to the color #fff0000 in the dark mode. I don't know if I'm misunderstanding something or doing something wrong

[2021-10-11 14:17] #39 closed, assigned to nobody

[2021-10-19 11:11] jjranalli commented on #35
Thanks for taking the time to write this up @d3cline! If you're up to it, it would be great if you could open a PR to add the snippet in the [example section](https://github.com/jjranalli/nightwind#examples) of the readme.

[2021-10-19 16:47] #35 closed

[2021-10-27 20:51] andreivictor opened #41 "Group-hover text color not inverted"
Can you please tell me how can I use `group-hover:` in dark mode?

I didn't understand if the classes for `group-hover:` are inverted by default or if it is necessary to enable it, like placeholder', 'ring', 'ring-offset', 'divide', 'gradient'.

eg: `class="text-gray-600 group-hover:text-gray-900"` in dark mode, produces only:

`.dark .text-gray-600 {
    color: rgba(209, 213, 219, var(--tw-text-o

[2021-10-27 21:21] #41 closed, assigned to nobody

[2021-11-21 19:47] timvink commented on #37
Just tried this with no problems. I used the 'pure javascript' example code. [repo](https://github.com/timvink/project-monitor) if you're interested.

[2021-11-21 19:52] timvink opened #44 "Picking up `even:` modifier"
nightwind is awesome! Thanks for developing this plugin and the clear documentation 👏🏻

I'm using a table adapted from [this example table](https://www.section.io/engineering-education/implementing-dark-mode-using-tailwind-css/), which breaks on the even rows.

Relevant line of HTML:

[code]

Which looks fine in light mode:
![image](https://user-images.githubusercontent.com/5570380/142776786-c8d53

[2021-11-21 20:14] timvink commented on #44
FYI, the workaround is not using the `even:` operator, but instead writing some javascript to insert a class on every even row (here's an [example](https://github.com/timvink/project-monitor/commit/2bde4a7b5736109e8c493124062f4e3d5e27b835))

[2021-11-22 10:39] jjranalli commented on #44
Hey @timvink, glad to hear you like Nightwind 😁

About your issue, can you confirm me that you've added the `even` variant in the nightwind config in `tailwind.config.js`? It looks like nightwind is not generating the dark class you need. It should look something like this:

[code]

If this doesn't work, the quickest way for me to solve this is probably to have a look at a repro. Let me know!

[2021-11-23 19:21] timvink commented on #44
Ahhh, I did miss that. I'm also new to tailwindcss. Thanks for the pointer, works perfectly!

[2021-11-23 19:21] #44 closed

[2021-11-27 14:06] FinalDoom commented on #22
For anyone struggling with typescript and vue, throw

[code]

in your setup() or beforeMount() or whatever. Don't bother with v-html.

Feels dirty though. Hopefully this ends up publishing something typescript-compatible eventually.

[2021-12-10 03:29] mtergel opened #45 "Tailwind 3.0 typography breaks when nightwind dark mode is enabled"
I've updated to tailwind and typography plugin.

[code]

Breaks on the latest release when
[code]
this option is enabled.

[code]

[2021-12-13 18:41] dotdiego opened #46 "How to purge correctly the css generated by nightwind ?"
Hello,

I'm using Tailwind 3.0

How can i remove unused css using nightwind ?

I'm getting a 650 kB output file with a 3 kB input file.

current tailwind.config.js looks like this

[code]

[2021-12-13 18:55] jjranalli commented on #46
This is due to a known issue caused by JIT #14. Future versions of the package will fix this

[2021-12-16 20:48] szamanr commented on #4
@jjranalli can we please add the definition file? a PR is up and has been for 3 months!

[2021-12-19 03:18] maverick-dev-55 opened #47 "nightwind not generating colors (svelte/sveltekit)"
Nightwind isnt setting generating colors, please help.

[2021-12-19 15:50] maverick-dev-55 commented on #47
ok i figured out how to create the script with nightwind but i dont know if i configured the plugin properly as its not generating the colors

[2021-12-19 15:56] maverick-dev-55 commented on #47
tailwind config
[code]

[2021-12-19 16:06] #47 closed

[2021-12-19 19:28] #38 closed

[2021-12-20 02:14] quick007 commented on #45
The package doesn't technically support v3, there should be a warning like this:
![image](https://user-images.githubusercontent.com/69743171/146702202-e794da64-44e9-4229-8c50-545dc03a1f95.png)

[2021-12-20 02:14] mtergel commented on #45
okey

[2021-12-20 02:14] #45 closed

[2021-12-23 19:01] LeMatosDeFuk opened #49 "Dark classes in separate file"
Hi, first of all, I want to thank you for this package, I love it.

Is there a feature of splitting dark and light classes to separate files? For example, if there is enabled dark mode, I can load only dark classes + light classes and in the light mode, it will load only light classes. If not, this would be really cool feature.

Thank you.

[2021-12-24 18:15] maverick-dev-55 opened #50 "How to configure for svelte/sveltekit?"
(svelte only allows one script element per component)

[2021-12-24 18:28] maverick-dev-55 commented on #50
if there is no way for it to work with svelte/sveltekit is there at least another option.... i dont feel like writing dark:... classes lol

[2021-12-24 18:28] maverick-dev-55 commented on #50
*misclick*

[2021-12-24 18:41] maverick-dev-55 commented on #50
Nevermind i figured it out
[code]

[2021-12-28 06:04] francochau opened #51 "Extend to more color classes?"
I would also like to implement nightwind in `fill-` class.
Is there a way I can achieve this?

[2021-12-29 03:15] cabello commented on #11
I was able to use it with success, by inspecting the resulting CSS file I noticed that when using prefix you need to add `<prefix>dark` to the HTML tag instead of just dark.
In my case:
[code]

However I did notice that the resulting CSS is full of undefined:
<img width="942" alt="Screen Shot 2021-12-28 at 7 07 59 PM" src="https://user-images.githubusercontent.com/60936/147623785-28d95766-ca1d-4de

[2021-12-29 16:28] jjranalli commented on #51
Currently that's not possible unfortunately, will keep it in mind for future versions of the package

[2021-12-29 16:28] #50 closed

[2021-12-29 16:32] jjranalli commented on #49
Really glad to hear you like Nightwind!

I don't think doing this with light classes would be feasible as I would have to mess with classes tailwind generates, but there may be a way to optimize loading dark classes. Will keep this in mind for future releases, thanks for the suggestion!

[2021-12-29 16:32] #37 closed

[2021-12-31 06:29] francochau commented on #51
@jjranalli
Thanks for clarifying.
May I also know is there a way to get and monitor the theme mode? e.g. showing two different icons in light and dark theme

[2021-12-31 11:53] jjranalli commented on #51
There is no specific method exported from the library, but there are different ways you could check the current theme depending on your implementation:

- check if `dark` class is present in `<html>` el
- check if the value of localstorage key `nightwind-mode` is `dark` / `light`
- (if using the next-themes library) use `theme` from the `useTheme` hook

[2022-01-06 11:51] yonson2 opened #52 "Automatic color generation not working"
Hi! I'm currently trying to use nightwind on a next.js app, I've followed the example configuration but can't seem to get nightwind to automatically generate a dark mode version of my classes, after toggling the theme my `<html>` tag gets correctly switch from light to dark (so hardcoded `dark:` classes do transition) but nothing else happens.

Is this an issue regarding Tailwind 3.0?

If you need

[2022-01-12 08:40] stenanderssen opened #53 "Custom color mapping with single value custom colors"
Firstly I wanted to say that Nightwind is a really awesome plugin for Tailwind. Keep up the good work! Thank you for your time and effort.

I am currently trying to use Nightwind in order to autmatically switch every used color in the HTML when the user switches to dark mode. In Tailwind I translated our design system to the Tailwind config.
Our design system comprises brand and application colors

[2022-01-12 13:18] jjranalli commented on #53
Hey, really glad to hear you like Nightwind! ❤️

As far as I understand the behaviour you intend to implement (color mappings for custom color classes) should already be supported by Nightwind so I'm not sure why it's not working in your case. Could you provide a minimal repo to reproduce the issue so I can look into it?

[2022-01-12 14:32] stenanderssen commented on #53
Thank you for the quick response! I created a simple repo for you. I hope now my issue gets clearer.
https://github.com/stenanderssen/nightwind-color-mapping-issue

If you run the repo both text blocks should be in the same color and the same background. However the upper section is not influenced by Nightwind although dark mode is enabled.

[2022-01-12 15:42] stenanderssen commented on #53
Thank you for resolving this issue. I will implement your proposed workaround until there is a better solution available ;)
I am looking forward to the next releases of Nightwind! Thank you for your quick and clear responses!

[2022-01-18 14:51] d3cline opened #54 "Update npm for Tailwind 3"
I did a `--force` install of nightwind into tailwind 3 and it is working good, please update the package manager and anything else to work with tailwind 3, all those classes are too tedious we need nightwind still

[2022-01-19 18:16] matthiscock opened #55 "Certain Classes not changing (Border-R-COLOR)"
Hi

I have Nightwind running well, hover it doesnt appear to auto change sub options.

For example

bg-white - changes as per expectations (and over ride using the config below to grey 900)

However the classes border-r-gray-200 I would expect to change to border-r-gray-800 - however that do not.
Could you point me in the right direction.

(I added the transition classes in as an experiment. Had n

[2022-01-20 18:22] maverick-dev-55 opened #56 "nightwind/helper not exporting default"
i have a file called nwpp.ts that adds a svelte store .dark to nightwind but i get this error from the browser:
[code]
this is the code that imports inside nwpp.ts
[code]

[2022-01-20 18:49] maverick-dev-55 commented on #56
im using svelte btw

[2022-01-20 19:42] #56 closed

[2022-01-25 00:12] samueljim commented on #54
bump

[2022-02-03 19:45] cceglia commented on #54
bump

[2022-02-15 19:53] bep opened #58 "nightwind-prevent-block also prevents dark: prefixes"
Arrest me if I'm wrong, but I don't think this was the purpose of that class.

Now if I do:

[code]
Then `dark:bg-blue-900` has no effect.

[2022-02-21 23:56] LeMatosDeFuk commented on #46
@jjranalli Hi, when can we expect next version with this fix?

[2022-02-23 14:42] saschagysel commented on #54
I am getting this error when installing on a fully updated Laravel 9 with updated Tailwind, I think it is connected with this issue.

[code]

[2022-02-24 05:27] quick007 commented on #54
I made #48 but the author wants to support JIT, which this doesn't. I've moved to https://github.com/crswll/tailwindcss-theme-swapper as it's actively maintained, the author is more active on discord (and can provide support in the tailwind plugins channel.) While it takes a bit longer to set up, it's far more worth it in the long run.

[2022-03-17 17:11] chickenwing opened #59 "Question: Exclude color switch for text-white"
By default all white will be transformed to black, e.g. bg-white to bg-black. Can I exclude text-white so that all white text stays white in dark mode?

[2022-04-07 17:32] ghiculescu opened #60 "Nightwind doesn't invert custom weights"
We have a theme that looks like this:

[code]

The 25 colour isn't being inverted, even with this setting:

[code]

It seems like this is happening because [`colorClasses`](https://github.com/jjranalli/nightwind/blob/7ace6fa9cd6dae5fe9d866863d8bdc1de87a5037/src/index.js#L540) is built based on the hardcoded [list of weights](https://github.com/jjranalli/nightwind/blob/7ace6fa9cd6dae5fe9d866863d8bd

[2022-04-09 23:57] astrocket opened #62 "not working in tailwindcss 3.0"
After upgrading tailwind into version 3 webpack compile fails.
removing nightwind from config works just fine.

[code]

[code]

[2022-04-18 19:35] quick007 opened #63 "Nightwind is unusable."
When tailwind 3.0 came out, I started using crwsll's theme swapper on my projects. When I came back to do some maintenance on what is essentially my portfolio site, I updated it to nextjs 12 and noticed I was having super long hot refresh times (like >1.5 seconds). I removed some things and tried to find the problem, and finally, I removed nightwind. The improvement? **15 times faster**. That's fr

[2022-05-13 17:01] bep commented on #63
@quick007 I don't maintain this project, but you should consider your way communication, I suspect your tone and esp. your headline ("Nightwind is unusable.") is not very motivational in the way of improving this situation.

Tailwind 2 had 2-3 second rebuilds, which was fine in development mode as you rarely needed rebuilds. I would never have used the word "unusable" about Tailwind 2.

[2022-06-11 08:50] alistairtweedie opened #64 "Support for Tailwind v3"

[2022-07-26 06:09] uurcank commented on #15
@uurcank  Removed webpack in Rails and switched to jsbuild. no longer getting this error.

[2022-08-24 14:13] ShaggyDude opened #65 "Can someone fork this project?"
I love everything about tailwind except the way they do dark mode. We need a plugin to handle this with tailwind 3

[2022-09-29 02:54] humanfriend22 opened #66 "DaisyUI"
For the sole purpose of a dark theme: I suggest using [DaisyUI](https://daisyui.com)

[2022-10-03 07:07] #66 closed

[2022-10-03 07:09] #65 closed

[2022-11-05 21:20] bressanelle opened #69 "is this plugin still maintained?"

[2022-11-10 18:10] DevOfManyThings commented on #69
The project hasn't been updated for a year now, with PRs raised by the community and no responses, so probably.
It's a shame because this is a great concept.

[2022-11-29 15:34] ShaggyDude commented on #64
Is this thing on?